.footer {
  margin-top: auto !important;
  padding-top: 10px;
  padding-bottom: 20px;
  background: url("/assets/images/pattern-bg.svg") no-repeat;
  background-color: #322E2B;
  font-size: 15px;
  color: #fff;
}

.LA-Love {
  display: block;
  background: url(/assets/images/ca-love.png) left 70px center no-repeat;
  font-size: 20px;
  padding: 20px 0px 50px;
  background-size: 70px;
  font-family: "Playfair Display,Georgia,Times New Roman,serif";
  color: #fff;
  font-weight: bold;
}

#emptycontent {
  user-select: none;
  color: #888;
  text-align: center;
  margin-top: 20vh;
  /* width: 50%; */

  font-family: 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif;    
}

#emptycontent h2 {
  margin-bottom: 10px;
  line-height: 150%;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  margin-top: 15px;
}

#emptycontent h3 {
  margin-bottom: 10px;
  line-height: 150%;
  font-size: 16px;
  font-weight: 300;
}
